.visitor-book {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgba(254,255,234,255); */
}

.visitor-book-header {
  width: 200px;
  /* color: #9bb872; */
}

.visitor-book-header img {
  width: 40%;
}

.visitor-book-header p {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.visitor-book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.input-box {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 1rem;
  width: 100%;
  margin: 0 0 1rem 0;
  padding: 1rem;
}

.input-box label {
  text-align: start;
  font-size: 0.9rem;
}

.input-box input {
  border: none;
}

.input-box textarea {
  border: none;
}

.input-tag::placeholder {
  font-family: "MapoFlowerIsland";
}

.input-tag::placeholder {
  font-family: "MapoFlowerIsland";
}
