.singularImg:hover {
  cursor: pointer;
}

.modal-transition {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 95%;
  max-height: 95%;
  border: 2px solid #000;
  scroll-snap-align: start;
}

.swipe-container {
  display: flex;
  overflow: auto;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
